.fav-movie-card-img{
    height: 300px;
    max-width: fit-content;
    background-origin: content-box;


}

.fav-movie-card{
    text-align: center;
    background-color: #f2f9fb !important;
    max-width: auto;
    height: 450px;
}